input[type=number] {
    -moz-appearance: textfield;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.championship-slider .swiper-button-next,
.championship-slider .swiper-button-prev {
    position: absolute;
    z-index: 1;
    top: 117px;
    display: none;
    width: 50px;
    height: 50px;
    background-color: #262626;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: $white;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: #044727;
        color: $white;
    }

    i {
        z-index: 2;
    }
}

@media (min-width: 1320px) {

    .championship-slider .swiper-button-next,
    .championship-slider .swiper-button-prev {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.championship-slider .swiper-button-prev {
    left: -67px;
}

.championship-slider .swiper-button-next {
    right: -67px;
}

.championship-slider .swiper-pagination {
    position: relative;
    width: 100%;
    bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}

.championship-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #0000003b;
    opacity: 1;
    margin: 0 3px;
    transition: all 0.3s ease-in-out;
    outline: none !important;
    border-radius: 50%;
}

.championship-slider .swiper-pagination .swiper-pagination-bullet:hover {
    background-color: $white;
}

.championship-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $white;
    opacity: 1;
}

.hhd {

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: var(--swiper-pagination-bottom, 20px);
    }
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 20px) !important;
}

.swiper-slide {
    height: auto !important;
}

.store-page {
    .category-slider {
        .swiper-btn {
            top: 66px;
        }
    }
}

// .video-section {
//     height: 800px;

//     .mallab-cont {
//         gap: 10px;
//     }

//     .vids-text-videos-cont {
//         display: flex;
//         flex-direction: column;
//         gap: 50px;
//     }
// }

// .vids-cont {
//     display: flex;
//     flex-wrap: wrap;

//     video {
//         padding: 10px;
//         border-radius: 5px;
//     }
// }






#app {
    height: 100%;
}

html,
body {
    position: relative;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;

    object-fit: cover;
}

.vertivs {
    .swiper {
        height: 400px;
    }
}

.video-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.store-cat{
    .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
        bottom: var(--swiper-pagination-bottom, 0px) !important;
        margin-top: 20px;
    }
    .swiper-wrapper{
        padding: 5px;
    }
}

// .single-qty-control.qty-minus{
//     border-radius: 66px 0px 0px 66px;
//     border: 1px solid rgb(103 103 103 / 50%);
// }
@media (max-width: 991px) {
    .parent-cont1{
        display: none;
    }
}
@media (min-width: 991px) {
    .parent-cont2{
        display: none;
    }
}